<div class="mt-4">
    <form method="GET" action="">
        {{!-- Mặc định phương thức gửi đi là GET --}}
    <div class="mb-3">
        <label for="search-input" class="form-label">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="search-input" aria-describedby="search" placeholder="Nhập từ khóa tìm kiếm">
    </div>

    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
    </form>
</div>